.filter {
  margin-block: auto;

  &__header-toggle {
    all: unset;
    padding-left: 2ch;
    cursor: pointer;
    color: var(--clr_text_1);
    height: 100cqh;
    display: flex;
    width: 3ch;
    z-index: 800;

    span {
      height: 0.7ch;
      width: 0.7ch;
      border-right: 2px solid var(--clr_text_1);
      border-bottom: 2px solid var(--clr_text_1);
      margin-block: auto;
      transform: rotate(45deg);
    }
  }

  &__body {
    display: none;
    // height: 100svh;
    // width: 100svw;
    background-color: var(--clr_primary_1);
    color: var(--clr_text_1);
    position: absolute;
    inset: 0;
    top: 100cqh;
    width: 100svw;
    height: 100svh;
    z-index: 801;

    &[aria-expanded="true"] {
      display: block;
    }

    &__main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      padding: 1em;

      & > li {
        box-shadow: 0 0 2px 2px var(--clr_white);
        border-radius: 0.5em;
        width: 100%;
        height: 6em;
        margin-inline: auto;
        display: flex;
        // padding-block: 1em;
        // line-height: 1.5em;
        & > p {
          margin: auto auto 1ch auto;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
}
