.filter {
  margin-block: auto;

  &__header-toggle {
    all: unset;
    padding-left: 2ch;
    cursor: pointer;
    color: var(--clr_text_1);
    height: 100cqh;
    display: flex;
    width: 3ch;
    z-index: 800;
    // padding-inline: 1ch;
    // margin-left: auto;

    // & > span {
    //   margin-block: auto;
    //
    //   &::selection {
    //     pointer-events: none;
    //   }
    // }

    i {
      height: 0.7ch;
      width: 0.7ch;
      border-right: 2px solid var(--clr_text_1);
      border-bottom: 2px solid var(--clr_text_1);
      margin-block: auto;
      transform: rotate(45deg);
    }
  }

  &__body {
    display: none;

    &[aria-expanded="true"] {
      display: block;
    }

    &-toggle {
      all: unset;
      position: absolute;
      width: 100%;
      inset: 0;
      background-color: transparent;
      z-index: 800;
    }

    .filter-main {
      position: absolute;
      inset: 0;
      top: 100cqh;
      width: 100svw;
      height: 100svh;
      z-index: 801;
      background-color: var(--clr_primary_1);
      color: var(--clr_text_1);

      &__pop-menu {
        display: flex;
        gap: 0.5em;
        height: 2em;
        padding-inline: 0.5em;

        & > label {
          margin-inline: auto;
          flex-grow: 1;
          display: grid;
          position: relative;
          border-radius: 0.5rem;

          & > * {
            border-radius: 0.5rem;
            margin: auto;
            grid-row: 1;
            grid-column: 1;
          }

          & > input {
            cursor: pointer;
            appearance: none;
            width: 100%;
            margin: 0;
            display: block;
            border: 1px solid var(--clr_white);

            &:checked {
              background-color: var(--clr_white);

              & ~ p {
                color: var(--clr_primary_1);
                font-weight: 600;
              }
            }
          }
        }
      }

      & > * {
        text-align: center;
        text-transform: uppercase;
        margin-inline: auto;
        padding-block: 1em;
        line-height: 1.5em;
        // font-size: 1.5em;
        // text-indent: 2ch;
        border-bottom: 1px solid var(--clr_grey);
      }
    }
  }
}
