.main-input {
  border-style: none;
  text-indent: 3ch;
  margin-inline: auto;
  margin: 3px;
  width: 100%;
  height: 6ch;
  border-radius: 1em;
  outline: 2px solid var(--clr_grey2);
  background-color: var(--clr_white);
}
