.search-bar {
  display: grid;

  & > input {
    grid-row: 1;
    grid-column: 1;
    height: 50%;
    width: 100%;
    border: none;
    border-radius: 2em;
    margin: auto;
    text-indent: 0.5em;
    z-index: 900;
    outline: 0;

    &:focus {
      box-shadow: 0 0 1px 1px greenyellow;
    }
  }

  img {
    cursor: text;
    grid-row: 1;
    grid-column: 1;
    width: 0.8em;
    height: 0.8em;
    z-index: 10;
    margin-block: auto;
    margin-left: auto;
    opacity: 0.3;
    margin-right: 0.5em;
    z-index: 901;
  }
}
