.project-preview {
  --padding: 0.4em;

  background-color: var(--c_white);
  color: var(--c_black_2);
  padding-left: var(--padding);
  display: flex;

  &__main {
    padding-block: var(--padding);

    // h2 {
    // }

    p {
      font-size: 0.8em;
    }

    footer {
      font-size: 0.6em;
      // background-color: var(--c_temp_1);
      color: var(--c_grey_1);
      display: flex;
    }
  }

  &__right {
    width: 15%;
    margin-left: auto;
    background-color: var(--c_purple);
  }
}
