.feed-filter {
  height: 100%;
  display: grid;

  &_toggle {
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    // outline: 1px solid white;
    margin: 0;
    grid-area: 1/1;

    &:checked ~ .feed-filter_dropdown {
      display: unset;
      position: fixed;
      top: 100cqh;
      // min-width: 100%;
    }
  }

  &_visual {
    grid-area: 1/1;
    // width: 100%;
    height: 100%;
    display: flex;
    color: var(--c_text_1);
    padding-inline: 1ch;

    & > div {
      margin: auto;
      display: flex;

      p {
        margin: auto;
      }

      i {
        height: 0.7ch;
        width: 0.7ch;
        border-right: 2px solid var(--c_text_1);
        border-bottom: 2px solid var(--c_text_1);

        display: inline-block;
        margin: auto;
        margin-left: 0.7ch;
        transform: rotate(45deg);
      }
    }
  }

  &_dropdown {
    width: fit-content;
    font-size: 1.2em;
    position: fixed;
    top: 100cqh;
    display: none;
    background-color: var(--c_menu_bg_1);
    color: var(--c_text_1);

    // label {
    //   border-right: 2px solid var(--c_text_1);
    //   display: grid;
    //   width: 6em;
    //   height: 2em;
    //
    //   & > * {
    //     grid-area: 1/1;
    //     margin: auto;
    //     text-align: center;
    //   }
    //
    //   input {
    //     appearance: none;
    //     margin: 0;
    //     z-index: 2;
    //     cursor: pointer;
    //
    //     // &:checked {
    //     //   outline: 3px solid purple;
    //     // }
    //   }
    // }
  }
}
