.search-result {
  width: 100%;
  display: flex;
  margin-inline: auto;
  // padding-block: 1em;
  line-height: 1.5em;
  height: 3em;
  padding: 0.2em;

  & > * {
    margin-block: auto;
  }

  img {
    height: 100%;
  }

  & > p {
    text-indent: 1ch;
  }

  & > div {
    background: var(--clr_primary_4);
    height: 100%;
    width: 5em;
    margin-left: auto;
    display: flex;

    & > p {
      margin-block: auto;
      margin-left: auto;
      padding-right: 0.5ch;
      text-align: right;
    }
  }
}
