.main-header {
  &:is(.dark-mode) {
    height: 50%;
    --clr_primary_1: red;
  }

  position: sticky;
  top: 0;
  container: main-header / size;
  background-color: var(--clr_primary_2);
  display: flex;
  // height: 3em;
  min-height: 3em;
  width: 100%;
  z-index: 1000;
  border-bottom: solid;

  &__menu {
    margin-right: auto;
    z-index: 910;
    // max-width: 100px;
  }

  &__search-bar {
    flex-basis: 15em;
    margin-right: 0.5em;
  }

  &__buttons {
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    cursor: pointer;

    & > * {
      grid-row: 1;
      grid-column: 1;
    }
  }

  // &[data-overlay="search"] {
  //   @container main-header (width < 500px) {
  //     .filter,
  //     .profile-button {
  //       display: none;
  //     }
  //   }
  // }
}
