.main-header {
  position: sticky;
  top: 0;
  container: main-header / size;
  background-color: var(--c_menu_bg_2);
  display: flex;
  height: 3em;
  width: 100%;
  z-index: 1000;

  &__menu {
    margin-right: auto;
  }

  &__search-bar {
    flex-basis: 15em;
    margin-right: 0.5em;
  }
}
