.main-header {
  container: main-header / size;
  background-color: var(--c_menu_bg_2);
  display: flex;
  height: 3em;
  width: 100%;

  &__burger-and-logo {
    container: main-header__left / size;
    display: flex;
    border-top-right-radius: 3em;
    min-width: 10em;
    background-color: var(--c_menu_bg_1);
    height: 100%;
  }

  &__filters {
    display: flex;
    margin-left: auto;
  }

  &__search-bar {
    flex-basis: 15em;
  }
}
