.main-header {
  container: main-header / size;
  background-color: var(--c_menu_bg_2);
  display: flex;
  height: 3em;
  width: 100%;
  // grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  // margin-bottom: 0.5em;

  &__left {
    container: main-header__left / size;
    display: flex;
    // flex-grow: 1;
    border-top-right-radius: 3em;
    // border: 1px solid red;
    min-width: 10em;
    width: 100%;
    background-color: var(--c_menu_bg_1);
    height: 100%;
  }
}
