.project-page {
  height: 100%;
  display: flex;
  flex-flow: column;
  color: var(--clr_text_3);

  &__industry {
    background-color: var(--clr_primary_1);
    color: var(--clr_text_1);
    text-transform: uppercase;
    border: 1px solid var(--clr_primary_white);
    border-radius: 0.5em;
    padding-inline: 1ch;
    padding-block: 0.7ch;
    margin: 1ch 1ch 0 auto;
    width: fit-content;
    height: fit-content;
  }

  &__nav {
    border-radius: 0.2em 0.2em 0 0;
    background-color: var(--clr_primary_1);
    position: sticky;
    margin-top: auto;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & > button {
      background-color: var(--clr_primary_2);
      border: 0;
      box-shadow: 0 4px 4px var(--clr_primary_1);

      img {
        height: 3em;
        margin: 1em;
      }
    }
  }

  &__main {
    display: grid;

    & > * {
      padding-left: 0.2em;
    }

    &__skill-match {
      display: flex;
      grid-row: 1;
      margin: auto 1ch auto auto;
      width: fit-content;
      gap: 1ch;

      & > li {
        height: 1em;
        aspect-ratio: 1;
      }
    }

    h1 {
      grid-row: 1;
      font-size: var(--s_title_1);
      // background-color: lightgreen;
      padding-block: 0.5em;
      padding-left: 0.2em;
      // text-align: center;
    }

    &__details {
      table-layout: fixed;
      border-collapse: collapse;
      // background-color: lightyellow;
      margin: 0.5em;
      // width: 100%;

      tbody {
        tr {
          th {
            text-align: right;
            padding-inline-end: 1em;
            padding-block-end: 0.4em;
          }

          td {
            display: block;
            padding-block-end: 0.2em;
          }
        }
      }
    }

    &__description {
      padding: 0.5em;
      // background-color: lightsalmon;
      height: 10em;
    }
  }

  &__suggestions {
    display: flex;
    position: fixed;
    width: 100%;
    gap: 0.5em;
    overflow: scroll;

    &-preview {
      flex-grow: 1;
    }
  }
}
