.project-page {
  height: 100%;

  &__main {
    & > * {
      padding-left: 0.2em;
    }

    h1 {
      font-size: var(--s_title_1);
      // background-color: lightgreen;
      padding-block: 0.5em;
      padding-left: 0.2em;
      // text-align: center;
    }

    &__details {
      table-layout: fixed;
      border-collapse: collapse;
      // background-color: lightyellow;
      margin: 0.5em;
      // width: 100%;

      tbody {
        tr {
          th {
            text-align: right;
            padding-inline-end: 1em;
            padding-block-end: 0.4em;
          }

          td {
            display: block;
            padding-block-end: 0.2em;
          }
        }
      }
    }

    &__description {
      padding: 0.5em;
      // background-color: lightsalmon;
      height: 10em;
    }
  }

  &__suggestions {
    display: flex;
    width: 100%;
    gap: 0.5em;

    &-preview {
      flex-grow: 1;
    }
  }
}
