.user-chat {
  display: flex;
  flex-flow: column;
  height: 100%;

  &__history {
    padding: 1ch 1ch 2ch 1ch;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;

    & > article {
      border: 1px solid var(--clr_primary_1);
      min-height: 3em;
      display: flex;
      width: 49%;
      border-radius: 1em;
      margin-block: 0.5ch;
      overflow-anchor: none;

      &:last-child {
        overflow-anchor: auto;
      }

      & > p {
        margin-block: auto;
        word-wrap: break-word;
        width: 100%;
        padding: 1ch;
      }

      &[data-author="self"] {
        margin-left: auto;
      }
    }
  }

  &__compose {
    border-radius: 0.2em 0.2em 0 0;
    background-color: var(--clr_primary_2);
    margin-top: auto;
    position: sticky;
    bottom: 0;
    display: grid;
    grid-template-rows: auto 3em;
    // flex-grow: 1;

    // &:focus-within {
    //   // flex-basis: 15em;
    //   height: 15em;
    //   margin-top: 5em;
    // }

    &__controls {
      display: flex;
      flex-flow: row-reverse;

      button {
        margin: 1ch;
      }
    }

    & > textarea {
      margin: 1ch 0.5ch 0.5ch 0.5ch;
      font-family: Montserrat;
      padding-top: 0.5ch;
      padding-bottom: 1ch;
      padding-inline: 0.5ch;
      border: 0;
      outline: none;
      border-radius: 0.2em;
    }
  }
}
