.user-chat {
  display: flex;
  flex-flow: column;
  height: 100%;

  &__history {
    padding: 1ch 1ch 2ch 1ch;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;

    & > h2 {
      margin-inline: auto;
      margin-top: 1ch;
      font-size: 1.1em;
      color: var(--clr_primary_1);
      border: 1px solid var(--clr_primary_1);
      padding: 1ch;
      border-radius: 0.5em;
    }

    & > article {
      border: 1px solid var(--clr_primary_1);
      min-height: 3em;
      display: flex;
      width: 49%;
      border-radius: 1em;
      margin-block: 0.5ch;
      overflow-anchor: none;

      &:last-child {
        overflow-anchor: auto;
      }

      & > p {
        margin-block: auto;
        word-wrap: break-word;
        width: 100%;
        padding: 1ch;
      }

      &[data-author="self"] {
        margin-left: auto;
      }
    }
  }

  &__compose {
    border-radius: 0.2em 0.2em 0 0;
    background-color: var(--clr_primary_2);
    position: sticky;
    bottom: 0;
    display: grid;
    margin-top: auto;
    grid-template-rows: 4em auto;
    grid-template-columns: auto 2em;
    padding: 1ch;
    gap: 1ch;

    // &:focus-within {
    //   // flex-basis: 15em;
    //   height: 15em;
    //   margin-top: 5em;
    // }

    &__send {
      background-color: var(--clr_primary_2);
      border: 0;
      display: flex;

      // img {
      //   // padding: 0.5ch;
      //   // padding-top: 1ch;
      // }
    }

    & > textarea {
      font-family: Montserrat;
      border: 0;
      outline: none;
      border-radius: 0.2em;
      padding: 0.5ch;
    }

    &__controls {
      display: flex;
      flex-flow: row-reverse;
      gap: 1ch;
      margin-right: auto;

      button {
        background-color: var(--clr_primary_2);
        margin-block: auto;
        height: 2em;
        border: 1px solid var(--clr_primary_white);
        border-radius: 0.5em;

        img {
          height: 90%;
          // padding: 1ch;
          // height: 3em;
        }
      }
    }
  }
}
