.main-logo {
  position: absolute;
  top: -10px;
  left: 55px;
  height: 60px; /* adjust as needed */
  width: auto;
  margin: 10px; /* adjust as needed */

  img {
    height: 55px;
    width: auto;
  }
}

