.logo {
  font-family: Codystar;
  font-weight: 600;
  color: var(--c_text_1);
  padding-left: 0.5ch;
  font-size: 1.3em;
  height: 100%;
  display: grid;
  // align-self: center;
  // width: 100%;

  span {
    margin-block: auto;
    display: block;
    padding-right: 3ch;
  }
}
