.profile-button {
  background-color: var(--c_menu_bg_2);
  border: 0;
  cursor: pointer;
  grid-template-columns: 4fr 2fr;
  // margin: auto 0 auto auto;
  width: fit-content;
  // border: 1px solid white;
  // background-color: green;

  &__logo {
    border: 2px solid var(--c_white);
    border-radius: 50%;
    margin: auto;
    height: 50cqh;
    width: 50cqh;
    display: grid;
    overflow: hidden;

    &_top {
      grid-row: 1;
      grid-column: 1;
      width: 40%;
      height: 40%;
      border-radius: 50%;
      background-color: var(--c_white);
      background-color: var(--c_menu_bg_1);
      margin: auto;
      margin-top: 25%;
    }

    &_bottom {
      grid-row: 1;
      grid-column: 1;
      background-color: var(--c_white);
      background-color: var(--c_menu_bg_1);
      margin: 65% auto 0 auto;
      width: 70%;
      height: 70%;
      border-radius: 30% 60% 0 60%;
      transform: rotate(45deg);
    }
  }
}
