.search-bar {
  display: grid;
  width: 100%;

  &__input {
    grid-row: 1;
    grid-column: 1;
    height: 50%;
    width: 100%;
    border: none;
    border-radius: 2em;
    margin: auto;
    text-indent: 0.5em;

    &:focus {
      outline: none;
      height: 60%;
    }
  }

  img {
    cursor: text;
    grid-row: 1;
    grid-column: 1;
    width: 0.8em;
    height: 0.8em;
    z-index: 10;
    margin-block: auto;
    margin-left: auto;
    opacity: 0.3;
    margin-right: 0.5em;
  }
}

.search-results {
  animation-duration: 0.2s;
  animation-name: search-results;
  background-color: var(--clr_white);
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  display: none;
  position: fixed;
  inset: 0;
  top: 3em;
  will-change: transform;
  z-index: 1000;

  @keyframes search-results {
    0% {
      margin-top: 100vh;
    }

    100% {
      margin-top: 0;
    }
  }

  &[aria-expanded="true"] {
    display: block;
  }
}
