.search-bar {
  height: 100%;
  display: grid;
  margin-right: 0.5em;

  &__input {
    grid-row: 1;
    grid-column: 1;
    height: 50%;
    width: 100%;
    border: none;
    border-radius: 2em;
    margin: auto;
    text-indent: 0.5em;

    &:focus {
      outline: none;
      height: 60%;
    }
  }

  img {
    grid-row: 1;
    grid-column: 1;
    width: 0.8em;
    height: 0.8em;
    z-index: 10;
    margin-block: auto;
    margin-left: auto;
    opacity: 0.3;
  }
}
