.search {
  height: 100%;
  // width: 3em;
  display: grid;
  // margin-left: auto;
  width: 100%;
  margin-right: 0.5em;
  // background-color: red;
  // border: 1px solid white;

  &_input {
    grid-row: 1;
    grid-column: 1;
    height: 50%;
    width: 100%;
    border: none;
    border-radius: 2em;
    margin: auto;
  }

  img {
    grid-row: 1;
    grid-column: 1;
    width: 0.8em;
    height: 0.8em;
    // width: 0.7em;
    // height: 0.7em;
    z-index: 1;
    margin-block: auto;
    margin-left: auto;
    opacity: 0.3;
  }
}
