.feed__filter_dropdown {
  grid-area: 1/1;
  display: none;
  background-color: var(--c_menu_bg_1);
  color: var(--c_text_1);
  padding: 0.4em;
  border-radius: 0 0 1em 0;

  li {
    button {
      background-color: transparent;
      color: var(--c_text_1);
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: left;
      border: none;
      cursor: pointer;
    }

    &[aria-selected="true"] > button::after {
      content: "<";
      padding-left: 1ch;
    }
  }
}
