.explore__skills {
  background-color: var(--clr_primary_1);
  width: 100%;
  z-index: 801;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;

  &[aria-expanded="false"] {
    height: 0;
  }

  & > li {
    width: 100%;
    aspect-ratio: 1;
    margin: auto;
    border-radius: 0.5em;

    & > a {
      box-shadow: 0 0 2px 2px var(--clr_white);
      color: var(--clr_white) !important;
      border: none;
      border-radius: 0.5em;
      display: grid;
      overflow: hidden;

      & > * {
        grid-row: 1;
        grid-column: 1;
      }

      & > img {
        height: 100%;
        overflow: hidden;
      }

      & > p {
        margin: auto auto 1ch auto;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
