.signup__user {
  &__name {
    display: flex;
  }

  &__gender {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & > label {
      margin-inline: auto;
      flex-grow: 1;
      display: grid;
      position: relative;
      border-radius: 0.5rem;
      width: 100%;
      background-color: var(--clr_white);

      & > * {
        border-radius: 0.5rem;
        margin: auto;
        grid-row: 1;
        grid-column: 1;
      }

      & > input {
        cursor: pointer;
        appearance: none;
        // width: 100%;
        // margin: 0;
        // display: block;
        // border: 2px solid green;

        &:checked {
          // background-color: var(--clr_white);

          & ~ p {
            color: var(--clr_primary_1);
            font-size: 1.2em;
            // font-weight: 600;
          }
        }
      }
    }
  }

  &__location {
    display: flex;

    select {
      // text-indent: 1ch;
      text-align: center;
      width: 100%;
      height: 6ch;
    }
  }

  &__about-me {
    width: 100%;
    height: 20ch;
  }

  &__privacy {
    background-color: var(--clr_white);
    display: flex;
    height: 3ch;

    & > * {
      margin-block: auto;
      text-indent: 1ch;
    }
  }
}
